*.aux
*.bbl
*.fls
*.blg
*.fdb_latexmk
*.glo
*.ist
*.toc
*.out
*.log
*.xdv
*.synctex.gz
*.lot
!./example.pdf

.DS_Store
mainThesis.pdf
*.swp
*.swp
exp/acc&speed.pdf
chapter/.c1_exordium.tex.swp
exp/chart_accuracy1.pdf
pic/RNN_struct.png
